.toolbar-title {
  font-weight: 600;
  font-size: 1.25rem;
  color: inherit;
  text-decoration: none;

  &.active {
    cursor: default;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.app-content {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 80px;
}
