mat-toolbar {
  background: var(--mat-sys-surface-container);
  justify-content: space-evenly;

  a.mat-button.active {
    background-color: var(--mat-sys-secondary-container);
    color: var(--mat-sys-on-secondary-container);
  }
}

.app-content {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 80px;
}

@media (max-width: 480px) {
  mat-toolbar {
    a.mat-button {
      font-size: 0.8rem;
      padding: 0 8px;
    }
  }
}
